#navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#navbar {
    margin: auto;
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 12px;
    font-size: .9rem;
    font-weight: 500;
}

#navbar a {
    color: #fff;
    text-decoration: none;
    transition: color ease-in-out 400ms;
}

#navbar p {
    color: #fff;
    transition: color ease-in-out 400ms;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#navbar a:hover,
#navbar a:active {
    color: #1985a1;
}

#navbar p:hover,
#navbar p:active {
    color: #1985a1;
}