body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  font-family: 'Poller One', cursive;
}

button {
  font-family: 'Poller One', cursive;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  margin: auto;
  margin-top: 122px;
  width: 50%;
  padding: 1rem 1.5rem;
  border: 1px solid #fff;
  max-width: 350px;
}

form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px dotted #ddd;
  outline: none;
  padding: 0.5px;
  color: #730071;
  font-weight: 800;
  font-size: 1.1rem;
}

form button {
  background-color: transparent;
  color: #dcdcdd;
  border: 1px solid #c5c3c6;
  padding: 5px;
  transition: background-color 400ms ease-in-out;
  cursor: pointer;
}

form button:hover,
form button:active {
  background-color: #1985a1;
  border-color: transparent;
}

#root {
  width: 100%;
  height: 100%;
}

#app {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1133px 810px #fff, 1505px 1021px #fff, 1404px 431px #fff,
    345px 1719px #fff, 1342px 1317px #fff, 1031px 1832px #fff, 506px 1944px #fff,
    1703px 99px #fff, 1639px 440px #fff, 1976px 1026px #fff, 1272px 1923px #fff,
    409px 575px #fff, 1318px 407px #fff, 636px 965px #fff, 899px 871px #fff,
    243px 1573px #fff, 882px 1165px #fff, 268px 347px #fff, 1897px 31px #fff,
    1659px 560px #fff, 768px 1202px #fff, 333px 1484px #fff, 473px 459px #fff,
    1384px 531px #fff, 1760px 1102px #fff, 1194px 295px #fff, 682px 1375px #fff,
    339px 1346px #fff, 1844px 1152px #fff, 489px 29px #fff, 1461px 1044px #fff,
    116px 770px #fff, 708px 729px #fff, 1125px 882px #fff, 193px 1226px #fff,
    993px 1921px #fff, 743px 1390px #fff, 1550px 464px #fff, 457px 120px #fff,
    734px 101px #fff, 26px 1813px #fff, 1874px 480px #fff, 1216px 1395px #fff,
    125px 126px #fff, 1155px 268px #fff, 1110px 276px #fff, 54px 102px #fff,
    309px 1986px #fff, 1500px 1372px #fff, 887px 1275px #fff, 898px 979px #fff,
    593px 1237px #fff, 623px 260px #fff, 1176px 1555px #fff, 827px 1081px #fff,
    356px 991px #fff, 1408px 1413px #fff, 1569px 951px #fff, 1005px 1139px #fff,
    1063px 1743px #fff, 57px 464px #fff, 184px 1018px #fff, 585px 33px #fff,
    1030px 1611px #fff, 1460px 734px #fff, 1285px 1913px #fff, 1923px 842px #fff,
    824px 302px #fff, 1845px 1939px #fff, 1402px 1537px #fff, 720px 142px #fff,
    1485px 212px #fff, 480px 1750px #fff, 1284px 25px #fff, 1653px 736px #fff,
    1391px 214px #fff, 1577px 390px #fff, 854px 686px #fff, 543px 128px #fff,
    1788px 1224px #fff, 209px 1790px #fff, 1459px 1687px #fff, 77px 1092px #fff,
    468px 498px #fff, 1407px 1478px #fff, 1810px 234px #fff, 1102px 539px #fff,
    47px 601px #fff, 714px 354px #fff, 1023px 534px #fff, 1321px 1619px #fff,
    1906px 504px #fff, 291px 1723px #fff, 1993px 1914px #fff, 1595px 1556px #fff,
    1723px 277px #fff, 926px 1333px #fff, 1534px 270px #fff, 1232px 1248px #fff,
    1270px 622px #fff, 1660px 1407px #fff, 120px 651px #fff, 1749px 1505px #fff,
    71px 1542px #fff, 912px 1056px #fff, 1303px 475px #fff, 386px 1960px #fff,
    668px 1040px #fff, 278px 417px #fff, 1265px 374px #fff, 529px 422px #fff,
    643px 56px #fff, 1988px 1362px #fff, 1780px 1996px #fff, 1824px 1490px #fff,
    1102px 114px #fff, 154px 888px #fff, 1705px 435px #fff, 877px 1354px #fff,
    1855px 1019px #fff, 661px 59px #fff, 288px 665px #fff, 44px 1732px #fff,
    304px 601px #fff, 479px 1741px #fff, 552px 138px #fff, 1114px 522px #fff,
    732px 1295px #fff, 60px 1853px #fff, 1523px 681px #fff, 849px 1033px #fff,
    1810px 1302px #fff, 1368px 1019px #fff, 148px 748px #fff, 1949px 1735px #fff,
    25px 612px #fff, 3px 1474px #fff, 107px 153px #fff, 1569px 317px #fff,
    455px 186px #fff, 1995px 1983px #fff, 1284px 410px #fff, 832px 1055px #fff,
    477px 517px #fff, 792px 622px #fff, 397px 444px #fff, 1057px 1407px #fff,
    1090px 958px #fff, 881px 1021px #fff, 1284px 1110px #fff, 1125px 686px #fff,
    623px 704px #fff, 707px 1256px #fff, 1887px 630px #fff, 706px 214px #fff,
    1741px 704px #fff, 367px 1743px #fff, 234px 329px #fff, 336px 1947px #fff,
    1484px 1792px #fff, 200px 330px #fff, 411px 807px #fff, 1011px 1756px #fff,
    982px 262px #fff, 1376px 1522px #fff, 846px 1772px #fff, 1698px 66px #fff,
    1576px 194px #fff, 336px 1861px #fff, 1366px 1267px #fff, 1471px 248px #fff,
    1697px 145px #fff, 1511px 1568px #fff, 1283px 761px #fff, 913px 914px #fff,
    229px 1186px #fff, 938px 1855px #fff, 1528px 85px #fff, 815px 17px #fff,
    899px 685px #fff, 330px 571px #fff, 1940px 57px #fff, 1812px 619px #fff,
    1191px 297px #fff, 1182px 377px #fff, 1765px 1067px #fff, 1882px 795px #fff,
    653px 963px #fff, 329px 734px #fff, 184px 1756px #fff, 1047px 695px #fff,
    1375px 767px #fff, 77px 964px #fff, 1534px 1905px #fff, 775px 620px #fff,
    788px 386px #fff, 1527px 1293px #fff, 1232px 1574px #fff, 464px 1792px #fff,
    212px 1800px #fff, 287px 833px #fff, 1916px 381px #fff, 286px 1404px #fff,
    1651px 736px #fff, 1116px 678px #fff, 1969px 245px #fff, 486px 176px #fff,
    1090px 264px #fff, 1560px 997px #fff, 427px 195px #fff, 1726px 539px #fff,
    1347px 1369px #fff, 1287px 1220px #fff, 1628px 493px #fff, 384px 1794px #fff,
    1978px 379px #fff, 1406px 1563px #fff, 826px 1984px #fff, 1979px 162px #fff,
    1712px 143px #fff, 231px 1642px #fff, 101px 800px #fff, 711px 1345px #fff,
    1547px 1305px #fff, 1332px 568px #fff, 633px 1213px #fff, 1019px 131px #fff,
    1241px 1931px #fff, 967px 1813px #fff, 238px 1328px #fff, 1879px 1279px #fff,
    1745px 132px #fff, 833px 1439px #fff, 1420px 1265px #fff, 1467px 695px #fff,
    1408px 1904px #fff, 1346px 1927px #fff, 1521px 1046px #fff,
    451px 1358px #fff, 1873px 147px #fff, 1965px 1036px #fff, 389px 1580px #fff,
    974px 392px #fff, 1727px 1321px #fff, 1916px 1774px #fff, 662px 303px #fff,
    1290px 262px #fff, 1286px 57px #fff, 238px 1646px #fff, 1792px 1259px #fff,
    1178px 1026px #fff, 846px 1594px #fff, 1207px 1416px #fff,
    1372px 1671px #fff, 979px 508px #fff, 487px 1024px #fff, 1957px 843px #fff,
    1416px 124px #fff, 951px 981px #fff, 1186px 1363px #fff, 1241px 1063px #fff,
    551px 553px #fff, 1621px 196px #fff, 615px 874px #fff, 1362px 137px #fff,
    1587px 527px #fff, 1056px 906px #fff, 1096px 213px #fff, 363px 189px #fff,
    68px 60px #fff, 1841px 801px #fff, 518px 718px #fff, 565px 938px #fff,
    1263px 263px #fff, 1063px 1334px #fff, 296px 1278px #fff, 94px 1647px #fff,
    1099px 1669px #fff, 1527px 59px #fff, 1436px 166px #fff, 627px 9px #fff,
    55px 252px #fff, 1801px 486px #fff, 528px 1232px #fff, 1349px 779px #fff,
    1647px 360px #fff, 1529px 1015px #fff, 535px 1785px #fff, 1518px 1865px #fff,
    468px 940px #fff, 1156px 969px #fff, 120px 1988px #fff, 1858px 418px #fff,
    1613px 280px #fff, 1669px 1583px #fff, 434px 642px #fff, 1182px 32px #fff,
    331px 1449px #fff, 93px 572px #fff, 655px 768px #fff, 1459px 1504px #fff,
    952px 1295px #fff, 294px 929px #fff, 418px 586px #fff, 349px 315px #fff,
    866px 1992px #fff, 1757px 129px #fff, 823px 91px #fff, 935px 1692px #fff,
    1460px 90px #fff, 1785px 629px #fff, 1079px 1647px #fff, 1874px 1368px #fff,
    279px 140px #fff, 1802px 1500px #fff, 183px 898px #fff, 833px 1337px #fff,
    632px 702px #fff, 367px 946px #fff, 264px 1230px #fff, 1060px 186px #fff,
    29px 1931px #fff, 1871px 759px #fff, 1339px 560px #fff, 495px 1164px #fff,
    1229px 366px #fff, 924px 976px #fff, 628px 717px #fff, 818px 1623px #fff,
    883px 1849px #fff, 930px 1092px #fff, 140px 1131px #fff, 1630px 1577px #fff,
    1228px 1049px #fff, 1353px 1036px #fff, 126px 302px #fff, 410px 1846px #fff,
    1045px 206px #fff, 53px 1006px #fff, 1567px 1923px #fff, 954px 255px #fff,
    1965px 1357px #fff, 1322px 1492px #fff, 713px 326px #fff, 1386px 1317px #fff,
    1222px 1446px #fff, 175px 1578px #fff, 291px 387px #fff, 443px 1387px #fff,
    1981px 576px #fff, 1427px 585px #fff, 1708px 1303px #fff, 1103px 616px #fff,
    1255px 1609px #fff, 699px 1917px #fff, 288px 1940px #fff, 1790px 979px #fff,
    2000px 1140px #fff, 485px 824px #fff, 230px 66px #fff, 579px 1222px #fff,
    1956px 892px #fff, 1094px 158px #fff, 1439px 1099px #fff, 1741px 1976px #fff,
    1879px 10px #fff, 1598px 1863px #fff, 1477px 249px #fff, 745px 1932px #fff,
    725px 1902px #fff, 1402px 876px #fff, 738px 1845px #fff, 835px 617px #fff,
    425px 1180px #fff, 761px 517px #fff, 1299px 1648px #fff, 1765px 501px #fff,
    1688px 1398px #fff, 706px 121px #fff, 1629px 1707px #fff, 227px 606px #fff,
    1718px 1245px #fff, 1919px 73px #fff, 145px 1919px #fff, 1912px 796px #fff,
    1740px 1534px #fff, 756px 1090px #fff, 543px 1852px #fff, 1267px 1698px #fff,
    1889px 457px #fff, 1481px 1555px #fff, 560px 592px #fff, 945px 917px #fff,
    1646px 1113px #fff, 494px 1608px #fff, 609px 1958px #fff, 1495px 470px #fff,
    1091px 1077px #fff, 1061px 1313px #fff, 961px 970px #fff, 24px 1901px #fff,
    1069px 1979px #fff, 632px 1734px #fff, 78px 642px #fff, 1678px 214px #fff,
    1800px 424px #fff, 756px 1917px #fff, 59px 1579px #fff, 445px 671px #fff,
    667px 1938px #fff, 1696px 880px #fff, 1781px 900px #fff, 635px 716px #fff,
    924px 1222px #fff, 1301px 756px #fff, 486px 1216px #fff, 478px 1801px #fff,
    1983px 401px #fff, 8px 660px #fff, 632px 293px #fff, 419px 107px #fff,
    1718px 400px #fff, 644px 1993px #fff, 1645px 404px #fff, 291px 1909px #fff,
    400px 90px #fff, 871px 1438px #fff, 1758px 1905px #fff, 1289px 1011px #fff,
    1307px 1991px #fff, 1394px 1979px #fff, 1425px 449px #fff,
    1838px 1194px #fff, 1490px 1094px #fff, 1530px 857px #fff, 339px 413px #fff,
    295px 1509px #fff, 798px 781px #fff, 907px 1435px #fff, 3px 459px #fff,
    400px 1591px #fff, 1247px 460px #fff, 1870px 1025px #fff, 221px 1509px #fff,
    125px 1883px #fff, 1069px 1029px #fff, 1147px 657px #fff, 886px 326px #fff,
    1480px 2000px #fff, 1636px 1872px #fff, 363px 1719px #fff, 1520px 75px #fff,
    1312px 344px #fff, 761px 1631px #fff, 763px 1655px #fff, 1636px 1818px #fff,
    176px 739px #fff, 318px 597px #fff, 138px 1771px #fff, 305px 1005px #fff,
    509px 910px #fff, 1554px 543px #fff, 935px 1153px #fff, 684px 439px #fff,
    1795px 227px #fff, 237px 1208px #fff, 1336px 1318px #fff, 1548px 787px #fff,
    301px 755px #fff, 1371px 1168px #fff, 1071px 10px #fff, 350px 1071px #fff,
    162px 907px #fff, 367px 944px #fff, 1896px 1029px #fff, 967px 1684px #fff,
    1261px 1352px #fff, 202px 431px #fff, 803px 1926px #fff, 1346px 1726px #fff,
    378px 1758px #fff, 1851px 1473px #fff, 1178px 1848px #fff, 49px 1778px #fff,
    1485px 302px #fff, 826px 1296px #fff, 1369px 1500px #fff, 1853px 1767px #fff,
    166px 541px #fff, 1423px 1999px #fff, 364px 337px #fff, 986px 834px #fff,
    1351px 1639px #fff, 914px 797px #fff, 1481px 305px #fff, 779px 1444px #fff,
    610px 1995px #fff, 1341px 511px #fff, 1417px 1473px #fff, 1523px 1424px #fff,
    1495px 75px #fff, 1324px 1757px #fff, 1389px 465px #fff, 647px 886px #fff,
    1777px 1776px #fff, 1554px 518px #fff, 50px 475px #fff, 693px 1593px #fff,
    685px 1763px #fff, 937px 779px #fff, 1722px 1580px #fff, 1818px 886px #fff,
    990px 259px #fff, 570px 507px #fff, 601px 491px #fff, 714px 948px #fff,
    1824px 940px #fff, 1212px 262px #fff, 818px 1147px #fff, 962px 694px #fff,
    480px 84px #fff, 1369px 609px #fff, 1109px 792px #fff, 1625px 1258px #fff,
    224px 1278px #fff, 1163px 1462px #fff, 1165px 415px #fff, 124px 902px #fff,
    227px 1895px #fff, 1409px 1372px #fff, 1017px 383px #fff, 56px 1153px #fff,
    1918px 1015px #fff, 398px 992px #fff, 522px 856px #fff, 178px 15px #fff,
    1544px 845px #fff, 1583px 78px #fff, 593px 64px #fff, 756px 1486px #fff,
    1919px 370px #fff, 946px 915px #fff, 1629px 1512px #fff, 1329px 1060px #fff,
    877px 1781px #fff, 107px 677px #fff, 30px 1929px #fff, 97px 641px #fff,
    1090px 1707px #fff, 313px 833px #fff, 1354px 504px #fff, 1391px 1079px #fff,
    529px 1105px #fff, 1405px 1178px #fff, 818px 1745px #fff, 797px 240px #fff,
    1384px 165px #fff, 1876px 1470px #fff, 1853px 247px #fff, 699px 512px #fff,
    1610px 583px #fff, 878px 1103px #fff, 200px 146px #fff, 26px 1407px #fff,
    1573px 346px #fff, 1230px 1465px #fff, 1513px 611px #fff, 969px 292px #fff,
    1376px 192px #fff, 1346px 1441px #fff, 1710px 1659px #fff, 1043px 833px #fff,
    775px 330px #fff, 1536px 204px #fff, 1243px 235px #fff, 826px 1259px #fff,
    1724px 741px #fff, 367px 650px #fff, 1349px 577px #fff, 420px 331px #fff,
    1282px 42px #fff, 732px 761px #fff, 1595px 1881px #fff, 663px 1420px #fff,
    1276px 521px #fff, 1911px 1588px #fff, 1021px 1648px #fff, 1975px 75px #fff,
    1637px 271px #fff, 382px 349px #fff, 1009px 1689px #fff, 79px 130px #fff,
    1730px 1920px #fff, 1428px 45px #fff, 537px 106px #fff, 207px 264px #fff,
    346px 826px #fff, 1183px 1921px #fff, 1892px 663px #fff, 701px 1460px #fff,
    1722px 591px #fff, 1993px 113px #fff, 55px 146px #fff, 945px 286px #fff,
    1573px 1143px #fff, 1768px 1238px #fff, 401px 678px #fff, 1178px 1304px #fff,
    976px 522px #fff, 630px 1978px #fff, 1350px 342px #fff, 86px 746px #fff,
    892px 818px #fff, 1069px 11px #fff, 87px 1141px #fff, 1907px 1744px #fff,
    1123px 747px #fff, 1986px 491px #fff, 1552px 513px #fff, 1993px 1201px #fff,
    412px 976px #fff, 624px 1915px #fff, 1834px 420px #fff, 337px 710px #fff,
    1500px 506px #fff, 1577px 1048px #fff, 228px 1531px #fff, 1257px 1990px #fff,
    431px 959px #fff, 1859px 1391px #fff, 1643px 1544px #fff, 809px 113px #fff,
    1904px 454px #fff, 894px 888px #fff, 1944px 1160px #fff, 1019px 573px #fff,
    1963px 898px #fff, 1374px 144px #fff, 638px 1903px #fff, 514px 1919px #fff,
    1831px 873px #fff, 883px 1055px #fff, 861px 842px #fff, 1485px 1731px #fff,
    1759px 1326px #fff, 759px 1915px #fff, 504px 580px #fff, 1486px 1874px #fff,
    832px 195px #fff, 879px 1531px #fff, 1100px 1643px #fff, 1501px 73px #fff,
    667px 1476px #fff, 1284px 719px #fff, 1665px 782px #fff, 1796px 1977px #fff,
    886px 1548px #fff, 282px 1977px #fff, 1969px 674px #fff, 356px 104px #fff,
    794px 659px #fff, 702px 1648px #fff, 1894px 836px #fff, 901px 421px #fff,
    1346px 947px #fff, 1942px 1074px #fff, 319px 1359px #fff, 1692px 404px #fff,
    1158px 392px #fff, 1612px 1772px #fff, 713px 275px #fff, 368px 1471px #fff,
    1013px 1527px #fff, 1782px 631px #fff, 1043px 58px #fff, 447px 969px #fff,
    1392px 1911px #fff, 1403px 1034px #fff, 1240px 850px #fff,
    1966px 1130px #fff, 1787px 1615px #fff, 365px 174px #fff, 987px 300px #fff,
    587px 910px #fff, 167px 369px #fff, 1326px 1545px #fff, 1512px 454px #fff,
    1943px 138px #fff, 274px 1099px #fff, 1539px 73px #fff, 1789px 277px #fff,
    1489px 1090px #fff, 845px 1079px #fff, 591px 507px #fff, 1283px 1507px #fff,
    773px 1063px #fff, 1284px 1766px #fff, 683px 309px #fff, 1064px 1127px #fff,
    738px 912px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1133px 810px #fff, 1505px 1021px #fff, 1404px 431px #fff,
    345px 1719px #fff, 1342px 1317px #fff, 1031px 1832px #fff, 506px 1944px #fff,
    1703px 99px #fff, 1639px 440px #fff, 1976px 1026px #fff, 1272px 1923px #fff,
    409px 575px #fff, 1318px 407px #fff, 636px 965px #fff, 899px 871px #fff,
    243px 1573px #fff, 882px 1165px #fff, 268px 347px #fff, 1897px 31px #fff,
    1659px 560px #fff, 768px 1202px #fff, 333px 1484px #fff, 473px 459px #fff,
    1384px 531px #fff, 1760px 1102px #fff, 1194px 295px #fff, 682px 1375px #fff,
    339px 1346px #fff, 1844px 1152px #fff, 489px 29px #fff, 1461px 1044px #fff,
    116px 770px #fff, 708px 729px #fff, 1125px 882px #fff, 193px 1226px #fff,
    993px 1921px #fff, 743px 1390px #fff, 1550px 464px #fff, 457px 120px #fff,
    734px 101px #fff, 26px 1813px #fff, 1874px 480px #fff, 1216px 1395px #fff,
    125px 126px #fff, 1155px 268px #fff, 1110px 276px #fff, 54px 102px #fff,
    309px 1986px #fff, 1500px 1372px #fff, 887px 1275px #fff, 898px 979px #fff,
    593px 1237px #fff, 623px 260px #fff, 1176px 1555px #fff, 827px 1081px #fff,
    356px 991px #fff, 1408px 1413px #fff, 1569px 951px #fff, 1005px 1139px #fff,
    1063px 1743px #fff, 57px 464px #fff, 184px 1018px #fff, 585px 33px #fff,
    1030px 1611px #fff, 1460px 734px #fff, 1285px 1913px #fff, 1923px 842px #fff,
    824px 302px #fff, 1845px 1939px #fff, 1402px 1537px #fff, 720px 142px #fff,
    1485px 212px #fff, 480px 1750px #fff, 1284px 25px #fff, 1653px 736px #fff,
    1391px 214px #fff, 1577px 390px #fff, 854px 686px #fff, 543px 128px #fff,
    1788px 1224px #fff, 209px 1790px #fff, 1459px 1687px #fff, 77px 1092px #fff,
    468px 498px #fff, 1407px 1478px #fff, 1810px 234px #fff, 1102px 539px #fff,
    47px 601px #fff, 714px 354px #fff, 1023px 534px #fff, 1321px 1619px #fff,
    1906px 504px #fff, 291px 1723px #fff, 1993px 1914px #fff, 1595px 1556px #fff,
    1723px 277px #fff, 926px 1333px #fff, 1534px 270px #fff, 1232px 1248px #fff,
    1270px 622px #fff, 1660px 1407px #fff, 120px 651px #fff, 1749px 1505px #fff,
    71px 1542px #fff, 912px 1056px #fff, 1303px 475px #fff, 386px 1960px #fff,
    668px 1040px #fff, 278px 417px #fff, 1265px 374px #fff, 529px 422px #fff,
    643px 56px #fff, 1988px 1362px #fff, 1780px 1996px #fff, 1824px 1490px #fff,
    1102px 114px #fff, 154px 888px #fff, 1705px 435px #fff, 877px 1354px #fff,
    1855px 1019px #fff, 661px 59px #fff, 288px 665px #fff, 44px 1732px #fff,
    304px 601px #fff, 479px 1741px #fff, 552px 138px #fff, 1114px 522px #fff,
    732px 1295px #fff, 60px 1853px #fff, 1523px 681px #fff, 849px 1033px #fff,
    1810px 1302px #fff, 1368px 1019px #fff, 148px 748px #fff, 1949px 1735px #fff,
    25px 612px #fff, 3px 1474px #fff, 107px 153px #fff, 1569px 317px #fff,
    455px 186px #fff, 1995px 1983px #fff, 1284px 410px #fff, 832px 1055px #fff,
    477px 517px #fff, 792px 622px #fff, 397px 444px #fff, 1057px 1407px #fff,
    1090px 958px #fff, 881px 1021px #fff, 1284px 1110px #fff, 1125px 686px #fff,
    623px 704px #fff, 707px 1256px #fff, 1887px 630px #fff, 706px 214px #fff,
    1741px 704px #fff, 367px 1743px #fff, 234px 329px #fff, 336px 1947px #fff,
    1484px 1792px #fff, 200px 330px #fff, 411px 807px #fff, 1011px 1756px #fff,
    982px 262px #fff, 1376px 1522px #fff, 846px 1772px #fff, 1698px 66px #fff,
    1576px 194px #fff, 336px 1861px #fff, 1366px 1267px #fff, 1471px 248px #fff,
    1697px 145px #fff, 1511px 1568px #fff, 1283px 761px #fff, 913px 914px #fff,
    229px 1186px #fff, 938px 1855px #fff, 1528px 85px #fff, 815px 17px #fff,
    899px 685px #fff, 330px 571px #fff, 1940px 57px #fff, 1812px 619px #fff,
    1191px 297px #fff, 1182px 377px #fff, 1765px 1067px #fff, 1882px 795px #fff,
    653px 963px #fff, 329px 734px #fff, 184px 1756px #fff, 1047px 695px #fff,
    1375px 767px #fff, 77px 964px #fff, 1534px 1905px #fff, 775px 620px #fff,
    788px 386px #fff, 1527px 1293px #fff, 1232px 1574px #fff, 464px 1792px #fff,
    212px 1800px #fff, 287px 833px #fff, 1916px 381px #fff, 286px 1404px #fff,
    1651px 736px #fff, 1116px 678px #fff, 1969px 245px #fff, 486px 176px #fff,
    1090px 264px #fff, 1560px 997px #fff, 427px 195px #fff, 1726px 539px #fff,
    1347px 1369px #fff, 1287px 1220px #fff, 1628px 493px #fff, 384px 1794px #fff,
    1978px 379px #fff, 1406px 1563px #fff, 826px 1984px #fff, 1979px 162px #fff,
    1712px 143px #fff, 231px 1642px #fff, 101px 800px #fff, 711px 1345px #fff,
    1547px 1305px #fff, 1332px 568px #fff, 633px 1213px #fff, 1019px 131px #fff,
    1241px 1931px #fff, 967px 1813px #fff, 238px 1328px #fff, 1879px 1279px #fff,
    1745px 132px #fff, 833px 1439px #fff, 1420px 1265px #fff, 1467px 695px #fff,
    1408px 1904px #fff, 1346px 1927px #fff, 1521px 1046px #fff,
    451px 1358px #fff, 1873px 147px #fff, 1965px 1036px #fff, 389px 1580px #fff,
    974px 392px #fff, 1727px 1321px #fff, 1916px 1774px #fff, 662px 303px #fff,
    1290px 262px #fff, 1286px 57px #fff, 238px 1646px #fff, 1792px 1259px #fff,
    1178px 1026px #fff, 846px 1594px #fff, 1207px 1416px #fff,
    1372px 1671px #fff, 979px 508px #fff, 487px 1024px #fff, 1957px 843px #fff,
    1416px 124px #fff, 951px 981px #fff, 1186px 1363px #fff, 1241px 1063px #fff,
    551px 553px #fff, 1621px 196px #fff, 615px 874px #fff, 1362px 137px #fff,
    1587px 527px #fff, 1056px 906px #fff, 1096px 213px #fff, 363px 189px #fff,
    68px 60px #fff, 1841px 801px #fff, 518px 718px #fff, 565px 938px #fff,
    1263px 263px #fff, 1063px 1334px #fff, 296px 1278px #fff, 94px 1647px #fff,
    1099px 1669px #fff, 1527px 59px #fff, 1436px 166px #fff, 627px 9px #fff,
    55px 252px #fff, 1801px 486px #fff, 528px 1232px #fff, 1349px 779px #fff,
    1647px 360px #fff, 1529px 1015px #fff, 535px 1785px #fff, 1518px 1865px #fff,
    468px 940px #fff, 1156px 969px #fff, 120px 1988px #fff, 1858px 418px #fff,
    1613px 280px #fff, 1669px 1583px #fff, 434px 642px #fff, 1182px 32px #fff,
    331px 1449px #fff, 93px 572px #fff, 655px 768px #fff, 1459px 1504px #fff,
    952px 1295px #fff, 294px 929px #fff, 418px 586px #fff, 349px 315px #fff,
    866px 1992px #fff, 1757px 129px #fff, 823px 91px #fff, 935px 1692px #fff,
    1460px 90px #fff, 1785px 629px #fff, 1079px 1647px #fff, 1874px 1368px #fff,
    279px 140px #fff, 1802px 1500px #fff, 183px 898px #fff, 833px 1337px #fff,
    632px 702px #fff, 367px 946px #fff, 264px 1230px #fff, 1060px 186px #fff,
    29px 1931px #fff, 1871px 759px #fff, 1339px 560px #fff, 495px 1164px #fff,
    1229px 366px #fff, 924px 976px #fff, 628px 717px #fff, 818px 1623px #fff,
    883px 1849px #fff, 930px 1092px #fff, 140px 1131px #fff, 1630px 1577px #fff,
    1228px 1049px #fff, 1353px 1036px #fff, 126px 302px #fff, 410px 1846px #fff,
    1045px 206px #fff, 53px 1006px #fff, 1567px 1923px #fff, 954px 255px #fff,
    1965px 1357px #fff, 1322px 1492px #fff, 713px 326px #fff, 1386px 1317px #fff,
    1222px 1446px #fff, 175px 1578px #fff, 291px 387px #fff, 443px 1387px #fff,
    1981px 576px #fff, 1427px 585px #fff, 1708px 1303px #fff, 1103px 616px #fff,
    1255px 1609px #fff, 699px 1917px #fff, 288px 1940px #fff, 1790px 979px #fff,
    2000px 1140px #fff, 485px 824px #fff, 230px 66px #fff, 579px 1222px #fff,
    1956px 892px #fff, 1094px 158px #fff, 1439px 1099px #fff, 1741px 1976px #fff,
    1879px 10px #fff, 1598px 1863px #fff, 1477px 249px #fff, 745px 1932px #fff,
    725px 1902px #fff, 1402px 876px #fff, 738px 1845px #fff, 835px 617px #fff,
    425px 1180px #fff, 761px 517px #fff, 1299px 1648px #fff, 1765px 501px #fff,
    1688px 1398px #fff, 706px 121px #fff, 1629px 1707px #fff, 227px 606px #fff,
    1718px 1245px #fff, 1919px 73px #fff, 145px 1919px #fff, 1912px 796px #fff,
    1740px 1534px #fff, 756px 1090px #fff, 543px 1852px #fff, 1267px 1698px #fff,
    1889px 457px #fff, 1481px 1555px #fff, 560px 592px #fff, 945px 917px #fff,
    1646px 1113px #fff, 494px 1608px #fff, 609px 1958px #fff, 1495px 470px #fff,
    1091px 1077px #fff, 1061px 1313px #fff, 961px 970px #fff, 24px 1901px #fff,
    1069px 1979px #fff, 632px 1734px #fff, 78px 642px #fff, 1678px 214px #fff,
    1800px 424px #fff, 756px 1917px #fff, 59px 1579px #fff, 445px 671px #fff,
    667px 1938px #fff, 1696px 880px #fff, 1781px 900px #fff, 635px 716px #fff,
    924px 1222px #fff, 1301px 756px #fff, 486px 1216px #fff, 478px 1801px #fff,
    1983px 401px #fff, 8px 660px #fff, 632px 293px #fff, 419px 107px #fff,
    1718px 400px #fff, 644px 1993px #fff, 1645px 404px #fff, 291px 1909px #fff,
    400px 90px #fff, 871px 1438px #fff, 1758px 1905px #fff, 1289px 1011px #fff,
    1307px 1991px #fff, 1394px 1979px #fff, 1425px 449px #fff,
    1838px 1194px #fff, 1490px 1094px #fff, 1530px 857px #fff, 339px 413px #fff,
    295px 1509px #fff, 798px 781px #fff, 907px 1435px #fff, 3px 459px #fff,
    400px 1591px #fff, 1247px 460px #fff, 1870px 1025px #fff, 221px 1509px #fff,
    125px 1883px #fff, 1069px 1029px #fff, 1147px 657px #fff, 886px 326px #fff,
    1480px 2000px #fff, 1636px 1872px #fff, 363px 1719px #fff, 1520px 75px #fff,
    1312px 344px #fff, 761px 1631px #fff, 763px 1655px #fff, 1636px 1818px #fff,
    176px 739px #fff, 318px 597px #fff, 138px 1771px #fff, 305px 1005px #fff,
    509px 910px #fff, 1554px 543px #fff, 935px 1153px #fff, 684px 439px #fff,
    1795px 227px #fff, 237px 1208px #fff, 1336px 1318px #fff, 1548px 787px #fff,
    301px 755px #fff, 1371px 1168px #fff, 1071px 10px #fff, 350px 1071px #fff,
    162px 907px #fff, 367px 944px #fff, 1896px 1029px #fff, 967px 1684px #fff,
    1261px 1352px #fff, 202px 431px #fff, 803px 1926px #fff, 1346px 1726px #fff,
    378px 1758px #fff, 1851px 1473px #fff, 1178px 1848px #fff, 49px 1778px #fff,
    1485px 302px #fff, 826px 1296px #fff, 1369px 1500px #fff, 1853px 1767px #fff,
    166px 541px #fff, 1423px 1999px #fff, 364px 337px #fff, 986px 834px #fff,
    1351px 1639px #fff, 914px 797px #fff, 1481px 305px #fff, 779px 1444px #fff,
    610px 1995px #fff, 1341px 511px #fff, 1417px 1473px #fff, 1523px 1424px #fff,
    1495px 75px #fff, 1324px 1757px #fff, 1389px 465px #fff, 647px 886px #fff,
    1777px 1776px #fff, 1554px 518px #fff, 50px 475px #fff, 693px 1593px #fff,
    685px 1763px #fff, 937px 779px #fff, 1722px 1580px #fff, 1818px 886px #fff,
    990px 259px #fff, 570px 507px #fff, 601px 491px #fff, 714px 948px #fff,
    1824px 940px #fff, 1212px 262px #fff, 818px 1147px #fff, 962px 694px #fff,
    480px 84px #fff, 1369px 609px #fff, 1109px 792px #fff, 1625px 1258px #fff,
    224px 1278px #fff, 1163px 1462px #fff, 1165px 415px #fff, 124px 902px #fff,
    227px 1895px #fff, 1409px 1372px #fff, 1017px 383px #fff, 56px 1153px #fff,
    1918px 1015px #fff, 398px 992px #fff, 522px 856px #fff, 178px 15px #fff,
    1544px 845px #fff, 1583px 78px #fff, 593px 64px #fff, 756px 1486px #fff,
    1919px 370px #fff, 946px 915px #fff, 1629px 1512px #fff, 1329px 1060px #fff,
    877px 1781px #fff, 107px 677px #fff, 30px 1929px #fff, 97px 641px #fff,
    1090px 1707px #fff, 313px 833px #fff, 1354px 504px #fff, 1391px 1079px #fff,
    529px 1105px #fff, 1405px 1178px #fff, 818px 1745px #fff, 797px 240px #fff,
    1384px 165px #fff, 1876px 1470px #fff, 1853px 247px #fff, 699px 512px #fff,
    1610px 583px #fff, 878px 1103px #fff, 200px 146px #fff, 26px 1407px #fff,
    1573px 346px #fff, 1230px 1465px #fff, 1513px 611px #fff, 969px 292px #fff,
    1376px 192px #fff, 1346px 1441px #fff, 1710px 1659px #fff, 1043px 833px #fff,
    775px 330px #fff, 1536px 204px #fff, 1243px 235px #fff, 826px 1259px #fff,
    1724px 741px #fff, 367px 650px #fff, 1349px 577px #fff, 420px 331px #fff,
    1282px 42px #fff, 732px 761px #fff, 1595px 1881px #fff, 663px 1420px #fff,
    1276px 521px #fff, 1911px 1588px #fff, 1021px 1648px #fff, 1975px 75px #fff,
    1637px 271px #fff, 382px 349px #fff, 1009px 1689px #fff, 79px 130px #fff,
    1730px 1920px #fff, 1428px 45px #fff, 537px 106px #fff, 207px 264px #fff,
    346px 826px #fff, 1183px 1921px #fff, 1892px 663px #fff, 701px 1460px #fff,
    1722px 591px #fff, 1993px 113px #fff, 55px 146px #fff, 945px 286px #fff,
    1573px 1143px #fff, 1768px 1238px #fff, 401px 678px #fff, 1178px 1304px #fff,
    976px 522px #fff, 630px 1978px #fff, 1350px 342px #fff, 86px 746px #fff,
    892px 818px #fff, 1069px 11px #fff, 87px 1141px #fff, 1907px 1744px #fff,
    1123px 747px #fff, 1986px 491px #fff, 1552px 513px #fff, 1993px 1201px #fff,
    412px 976px #fff, 624px 1915px #fff, 1834px 420px #fff, 337px 710px #fff,
    1500px 506px #fff, 1577px 1048px #fff, 228px 1531px #fff, 1257px 1990px #fff,
    431px 959px #fff, 1859px 1391px #fff, 1643px 1544px #fff, 809px 113px #fff,
    1904px 454px #fff, 894px 888px #fff, 1944px 1160px #fff, 1019px 573px #fff,
    1963px 898px #fff, 1374px 144px #fff, 638px 1903px #fff, 514px 1919px #fff,
    1831px 873px #fff, 883px 1055px #fff, 861px 842px #fff, 1485px 1731px #fff,
    1759px 1326px #fff, 759px 1915px #fff, 504px 580px #fff, 1486px 1874px #fff,
    832px 195px #fff, 879px 1531px #fff, 1100px 1643px #fff, 1501px 73px #fff,
    667px 1476px #fff, 1284px 719px #fff, 1665px 782px #fff, 1796px 1977px #fff,
    886px 1548px #fff, 282px 1977px #fff, 1969px 674px #fff, 356px 104px #fff,
    794px 659px #fff, 702px 1648px #fff, 1894px 836px #fff, 901px 421px #fff,
    1346px 947px #fff, 1942px 1074px #fff, 319px 1359px #fff, 1692px 404px #fff,
    1158px 392px #fff, 1612px 1772px #fff, 713px 275px #fff, 368px 1471px #fff,
    1013px 1527px #fff, 1782px 631px #fff, 1043px 58px #fff, 447px 969px #fff,
    1392px 1911px #fff, 1403px 1034px #fff, 1240px 850px #fff,
    1966px 1130px #fff, 1787px 1615px #fff, 365px 174px #fff, 987px 300px #fff,
    587px 910px #fff, 167px 369px #fff, 1326px 1545px #fff, 1512px 454px #fff,
    1943px 138px #fff, 274px 1099px #fff, 1539px 73px #fff, 1789px 277px #fff,
    1489px 1090px #fff, 845px 1079px #fff, 591px 507px #fff, 1283px 1507px #fff,
    773px 1063px #fff, 1284px 1766px #fff, 683px 309px #fff, 1064px 1127px #fff,
    738px 912px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 781px 246px #fff, 463px 1623px #fff, 1846px 1389px #fff,
    1342px 1921px #fff, 1936px 414px #fff, 1815px 97px #fff, 453px 587px #fff,
    445px 657px #fff, 87px 1829px #fff, 1142px 496px #fff, 249px 1364px #fff,
    1962px 261px #fff, 50px 797px #fff, 72px 1756px #fff, 645px 649px #fff,
    769px 575px #fff, 1894px 987px #fff, 715px 1397px #fff, 569px 1065px #fff,
    787px 760px #fff, 1556px 1448px #fff, 1959px 84px #fff, 1829px 394px #fff,
    1771px 350px #fff, 1549px 49px #fff, 919px 1336px #fff, 1980px 264px #fff,
    1928px 739px #fff, 658px 1092px #fff, 513px 1658px #fff, 478px 1241px #fff,
    1818px 369px #fff, 1445px 386px #fff, 1459px 1677px #fff, 830px 1117px #fff,
    218px 733px #fff, 586px 1871px #fff, 1826px 1384px #fff, 1103px 1676px #fff,
    4px 875px #fff, 671px 840px #fff, 180px 1592px #fff, 811px 374px #fff,
    533px 564px #fff, 650px 118px #fff, 1552px 856px #fff, 1853px 1427px #fff,
    745px 1096px #fff, 710px 1763px #fff, 6px 15px #fff, 572px 699px #fff,
    1762px 798px #fff, 364px 35px #fff, 769px 1083px #fff, 1430px 1399px #fff,
    68px 824px #fff, 1335px 1514px #fff, 1363px 602px #fff, 714px 961px #fff,
    797px 242px #fff, 459px 1440px #fff, 56px 1293px #fff, 1507px 742px #fff,
    697px 913px #fff, 636px 1535px #fff, 38px 1445px #fff, 1570px 10px #fff,
    1124px 1699px #fff, 858px 1202px #fff, 1581px 296px #fff, 1140px 509px #fff,
    648px 668px #fff, 1874px 1696px #fff, 1671px 1830px #fff, 576px 945px #fff,
    1259px 1091px #fff, 1824px 1183px #fff, 658px 1409px #fff,
    1838px 1132px #fff, 1239px 1031px #fff, 989px 1432px #fff, 1185px 389px #fff,
    693px 1657px #fff, 659px 1690px #fff, 672px 1128px #fff, 507px 157px #fff,
    1695px 1011px #fff, 830px 869px #fff, 1408px 560px #fff, 1244px 1743px #fff,
    1268px 1023px #fff, 468px 9px #fff, 693px 48px #fff, 598px 811px #fff,
    1266px 434px #fff, 1877px 1264px #fff, 703px 1517px #fff, 1932px 413px #fff,
    227px 210px #fff, 503px 147px #fff, 1201px 728px #fff, 915px 1459px #fff,
    518px 944px #fff, 1689px 140px #fff, 1538px 1880px #fff, 1769px 1315px #fff,
    1228px 665px #fff, 1327px 1940px #fff, 1521px 768px #fff, 1896px 53px #fff,
    850px 575px #fff, 1028px 1311px #fff, 399px 88px #fff, 697px 1034px #fff,
    1284px 546px #fff, 1740px 1959px #fff, 846px 1357px #fff, 355px 1245px #fff,
    256px 1752px #fff, 1522px 1716px #fff, 1454px 1944px #fff,
    1197px 1870px #fff, 97px 717px #fff, 641px 492px #fff, 1434px 1060px #fff,
    634px 29px #fff, 730px 928px #fff, 93px 1936px #fff, 1152px 1002px #fff,
    1327px 346px #fff, 82px 1049px #fff, 40px 1577px #fff, 1354px 1167px #fff,
    89px 966px #fff, 1722px 1755px #fff, 241px 1372px #fff, 435px 1191px #fff,
    1939px 478px #fff, 905px 96px #fff, 1411px 343px #fff, 816px 55px #fff,
    81px 1999px #fff, 1105px 84px #fff, 1129px 1906px #fff, 1362px 1072px #fff,
    341px 1368px #fff, 1876px 45px #fff, 398px 1715px #fff, 55px 647px #fff,
    394px 1200px #fff, 804px 836px #fff, 769px 1584px #fff, 1111px 209px #fff,
    1577px 708px #fff, 534px 1295px #fff, 972px 1839px #fff, 1209px 909px #fff,
    1092px 17px #fff, 1189px 1903px #fff, 1585px 1622px #fff, 781px 73px #fff,
    920px 665px #fff, 464px 16px #fff, 1406px 207px #fff, 616px 359px #fff,
    121px 1599px #fff, 368px 1883px #fff, 145px 1775px #fff, 71px 240px #fff,
    1232px 1182px #fff, 79px 932px #fff, 111px 1545px #fff, 899px 54px #fff,
    937px 884px #fff, 1302px 612px #fff, 1698px 587px #fff, 1062px 481px #fff,
    1957px 1938px #fff, 1784px 1540px #fff, 158px 1424px #fff,
    1799px 1344px #fff, 1205px 1892px #fff, 1077px 1994px #fff,
    1989px 1101px #fff, 752px 363px #fff, 859px 933px #fff, 998px 1541px #fff,
    1063px 1251px #fff, 38px 1172px #fff, 1227px 460px #fff, 1318px 808px #fff,
    599px 1177px #fff, 359px 1975px #fff, 1268px 1835px #fff, 515px 311px #fff,
    1440px 1621px #fff, 705px 614px #fff, 1454px 1956px #fff, 1807px 393px #fff,
    31px 1484px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 781px 246px #fff, 463px 1623px #fff, 1846px 1389px #fff,
    1342px 1921px #fff, 1936px 414px #fff, 1815px 97px #fff, 453px 587px #fff,
    445px 657px #fff, 87px 1829px #fff, 1142px 496px #fff, 249px 1364px #fff,
    1962px 261px #fff, 50px 797px #fff, 72px 1756px #fff, 645px 649px #fff,
    769px 575px #fff, 1894px 987px #fff, 715px 1397px #fff, 569px 1065px #fff,
    787px 760px #fff, 1556px 1448px #fff, 1959px 84px #fff, 1829px 394px #fff,
    1771px 350px #fff, 1549px 49px #fff, 919px 1336px #fff, 1980px 264px #fff,
    1928px 739px #fff, 658px 1092px #fff, 513px 1658px #fff, 478px 1241px #fff,
    1818px 369px #fff, 1445px 386px #fff, 1459px 1677px #fff, 830px 1117px #fff,
    218px 733px #fff, 586px 1871px #fff, 1826px 1384px #fff, 1103px 1676px #fff,
    4px 875px #fff, 671px 840px #fff, 180px 1592px #fff, 811px 374px #fff,
    533px 564px #fff, 650px 118px #fff, 1552px 856px #fff, 1853px 1427px #fff,
    745px 1096px #fff, 710px 1763px #fff, 6px 15px #fff, 572px 699px #fff,
    1762px 798px #fff, 364px 35px #fff, 769px 1083px #fff, 1430px 1399px #fff,
    68px 824px #fff, 1335px 1514px #fff, 1363px 602px #fff, 714px 961px #fff,
    797px 242px #fff, 459px 1440px #fff, 56px 1293px #fff, 1507px 742px #fff,
    697px 913px #fff, 636px 1535px #fff, 38px 1445px #fff, 1570px 10px #fff,
    1124px 1699px #fff, 858px 1202px #fff, 1581px 296px #fff, 1140px 509px #fff,
    648px 668px #fff, 1874px 1696px #fff, 1671px 1830px #fff, 576px 945px #fff,
    1259px 1091px #fff, 1824px 1183px #fff, 658px 1409px #fff,
    1838px 1132px #fff, 1239px 1031px #fff, 989px 1432px #fff, 1185px 389px #fff,
    693px 1657px #fff, 659px 1690px #fff, 672px 1128px #fff, 507px 157px #fff,
    1695px 1011px #fff, 830px 869px #fff, 1408px 560px #fff, 1244px 1743px #fff,
    1268px 1023px #fff, 468px 9px #fff, 693px 48px #fff, 598px 811px #fff,
    1266px 434px #fff, 1877px 1264px #fff, 703px 1517px #fff, 1932px 413px #fff,
    227px 210px #fff, 503px 147px #fff, 1201px 728px #fff, 915px 1459px #fff,
    518px 944px #fff, 1689px 140px #fff, 1538px 1880px #fff, 1769px 1315px #fff,
    1228px 665px #fff, 1327px 1940px #fff, 1521px 768px #fff, 1896px 53px #fff,
    850px 575px #fff, 1028px 1311px #fff, 399px 88px #fff, 697px 1034px #fff,
    1284px 546px #fff, 1740px 1959px #fff, 846px 1357px #fff, 355px 1245px #fff,
    256px 1752px #fff, 1522px 1716px #fff, 1454px 1944px #fff,
    1197px 1870px #fff, 97px 717px #fff, 641px 492px #fff, 1434px 1060px #fff,
    634px 29px #fff, 730px 928px #fff, 93px 1936px #fff, 1152px 1002px #fff,
    1327px 346px #fff, 82px 1049px #fff, 40px 1577px #fff, 1354px 1167px #fff,
    89px 966px #fff, 1722px 1755px #fff, 241px 1372px #fff, 435px 1191px #fff,
    1939px 478px #fff, 905px 96px #fff, 1411px 343px #fff, 816px 55px #fff,
    81px 1999px #fff, 1105px 84px #fff, 1129px 1906px #fff, 1362px 1072px #fff,
    341px 1368px #fff, 1876px 45px #fff, 398px 1715px #fff, 55px 647px #fff,
    394px 1200px #fff, 804px 836px #fff, 769px 1584px #fff, 1111px 209px #fff,
    1577px 708px #fff, 534px 1295px #fff, 972px 1839px #fff, 1209px 909px #fff,
    1092px 17px #fff, 1189px 1903px #fff, 1585px 1622px #fff, 781px 73px #fff,
    920px 665px #fff, 464px 16px #fff, 1406px 207px #fff, 616px 359px #fff,
    121px 1599px #fff, 368px 1883px #fff, 145px 1775px #fff, 71px 240px #fff,
    1232px 1182px #fff, 79px 932px #fff, 111px 1545px #fff, 899px 54px #fff,
    937px 884px #fff, 1302px 612px #fff, 1698px 587px #fff, 1062px 481px #fff,
    1957px 1938px #fff, 1784px 1540px #fff, 158px 1424px #fff,
    1799px 1344px #fff, 1205px 1892px #fff, 1077px 1994px #fff,
    1989px 1101px #fff, 752px 363px #fff, 859px 933px #fff, 998px 1541px #fff,
    1063px 1251px #fff, 38px 1172px #fff, 1227px 460px #fff, 1318px 808px #fff,
    599px 1177px #fff, 359px 1975px #fff, 1268px 1835px #fff, 515px 311px #fff,
    1440px 1621px #fff, 705px 614px #fff, 1454px 1956px #fff, 1807px 393px #fff,
    31px 1484px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1176px 285px #fff, 49px 559px #fff, 641px 1432px #fff,
    1999px 1115px #fff, 1350px 1909px #fff, 30px 1844px #fff, 1196px 1254px #fff,
    143px 1072px #fff, 1583px 1332px #fff, 3px 797px #fff, 1942px 1331px #fff,
    318px 1167px #fff, 1009px 46px #fff, 219px 1505px #fff, 276px 1692px #fff,
    1055px 1023px #fff, 1197px 714px #fff, 1413px 1051px #fff,
    1940px 1308px #fff, 1502px 1260px #fff, 1145px 67px #fff, 309px 330px #fff,
    561px 779px #fff, 1148px 132px #fff, 833px 1305px #fff, 1336px 698px #fff,
    1451px 969px #fff, 1714px 1341px #fff, 1551px 1284px #fff,
    1890px 1393px #fff, 1305px 4px #fff, 1213px 882px #fff, 920px 1483px #fff,
    694px 858px #fff, 1771px 1003px #fff, 164px 1885px #fff, 1765px 359px #fff,
    786px 558px #fff, 227px 1490px #fff, 1260px 997px #fff, 1321px 333px #fff,
    897px 187px #fff, 1619px 1111px #fff, 324px 77px #fff, 1941px 1066px #fff,
    541px 1582px #fff, 274px 369px #fff, 1157px 1024px #fff, 263px 1924px #fff,
    278px 1831px #fff, 755px 1477px #fff, 779px 1516px #fff, 1619px 1871px #fff,
    1135px 668px #fff, 1205px 1188px #fff, 1285px 1215px #fff, 1373px 98px #fff,
    377px 732px #fff, 626px 857px #fff, 967px 1862px #fff, 1084px 1365px #fff,
    668px 1533px #fff, 1473px 658px #fff, 1599px 368px #fff, 1552px 1412px #fff,
    1958px 890px #fff, 1778px 1820px #fff, 491px 927px #fff, 858px 586px #fff,
    1555px 1338px #fff, 1034px 694px #fff, 1460px 255px #fff, 1143px 757px #fff,
    1547px 1200px #fff, 1005px 1420px #fff, 1333px 172px #fff, 70px 1989px #fff,
    954px 168px #fff, 126px 1917px #fff, 455px 649px #fff, 940px 1004px #fff,
    939px 1780px #fff, 1932px 435px #fff, 134px 1839px #fff, 1093px 120px #fff,
    1956px 378px #fff, 1686px 1934px #fff, 1533px 1777px #fff, 293px 1905px #fff,
    411px 1075px #fff, 1429px 1634px #fff, 1040px 1344px #fff, 870px 464px #fff,
    959px 1489px #fff, 1738px 299px #fff, 1369px 432px #fff, 1082px 1223px #fff,
    1648px 1176px #fff, 1299px 774px #fff, 671px 727px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1176px 285px #fff, 49px 559px #fff, 641px 1432px #fff,
    1999px 1115px #fff, 1350px 1909px #fff, 30px 1844px #fff, 1196px 1254px #fff,
    143px 1072px #fff, 1583px 1332px #fff, 3px 797px #fff, 1942px 1331px #fff,
    318px 1167px #fff, 1009px 46px #fff, 219px 1505px #fff, 276px 1692px #fff,
    1055px 1023px #fff, 1197px 714px #fff, 1413px 1051px #fff,
    1940px 1308px #fff, 1502px 1260px #fff, 1145px 67px #fff, 309px 330px #fff,
    561px 779px #fff, 1148px 132px #fff, 833px 1305px #fff, 1336px 698px #fff,
    1451px 969px #fff, 1714px 1341px #fff, 1551px 1284px #fff,
    1890px 1393px #fff, 1305px 4px #fff, 1213px 882px #fff, 920px 1483px #fff,
    694px 858px #fff, 1771px 1003px #fff, 164px 1885px #fff, 1765px 359px #fff,
    786px 558px #fff, 227px 1490px #fff, 1260px 997px #fff, 1321px 333px #fff,
    897px 187px #fff, 1619px 1111px #fff, 324px 77px #fff, 1941px 1066px #fff,
    541px 1582px #fff, 274px 369px #fff, 1157px 1024px #fff, 263px 1924px #fff,
    278px 1831px #fff, 755px 1477px #fff, 779px 1516px #fff, 1619px 1871px #fff,
    1135px 668px #fff, 1205px 1188px #fff, 1285px 1215px #fff, 1373px 98px #fff,
    377px 732px #fff, 626px 857px #fff, 967px 1862px #fff, 1084px 1365px #fff,
    668px 1533px #fff, 1473px 658px #fff, 1599px 368px #fff, 1552px 1412px #fff,
    1958px 890px #fff, 1778px 1820px #fff, 491px 927px #fff, 858px 586px #fff,
    1555px 1338px #fff, 1034px 694px #fff, 1460px 255px #fff, 1143px 757px #fff,
    1547px 1200px #fff, 1005px 1420px #fff, 1333px 172px #fff, 70px 1989px #fff,
    954px 168px #fff, 126px 1917px #fff, 455px 649px #fff, 940px 1004px #fff,
    939px 1780px #fff, 1932px 435px #fff, 134px 1839px #fff, 1093px 120px #fff,
    1956px 378px #fff, 1686px 1934px #fff, 1533px 1777px #fff, 293px 1905px #fff,
    411px 1075px #fff, 1429px 1634px #fff, 1040px 1344px #fff, 870px 464px #fff,
    959px 1489px #fff, 1738px 299px #fff, 1369px 432px #fff, 1082px 1223px #fff,
    1648px 1176px #fff, 1299px 774px #fff, 671px 727px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
