#home-page {
    height: 100%;
    width: 100%;
}

.home-page__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    margin: auto;
    margin-top: 122px;
    width: 50%;
    padding: 1rem 1.5rem;
    border: 1px solid #fff;
    max-width: 350px;
}

.home-page__form input {
    background-color: transparent;
    border: none;
    border-bottom: 1px dotted #ddd;
    outline: none;
    padding: .5px;
    color: #730071;
    font-weight: 800;
    font-size: 1.1rem;
}

.home-page__form button {
    background-color: transparent;
    color: #DCDCDD;
    border: 1px solid #C5C3C6;
    padding: 5px;
    transition: background-color 400ms ease-in-out;
    cursor: pointer;
}

.home-page__form button:hover,
.home-page__form button:active {
    background-color: #1985A1;
    border-color: transparent;
}

@media screen and (max-width: 360px) {
    .home-page__form {
        width: 70%;
    }
}